:root {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.btn {
    width: fit-content;
    height: auto;
    padding: 4px 16px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: deepskyblue;
    color: black;
    cursor: pointer;
}

.container {
    padding: 0 40px;
    position: relative;
}

.btn:hover {
    background-color: rgb(0, 180, 210);
}

header {
    background-image: linear-gradient(to bottom, rgba(100, 225, 241, 0.178), aliceblue);
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
}

#hr_header {
    border: 1px solid rgba(146, 146, 146, 0.308);
}

#logo_header {
    font-weight: 900;
    font-size: 3rem;
    text-decoration: underline;
}

.menu{
    position: absolute;
    top: 45%;
    right: 48px;
}

.hamburger{
    grid-area: burger;
    width: 68px;
    height: 12px;
    border-radius: 20px;
    background-color: black;
    transition: all 0.4s ease-out;
}

.hamburger::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -20px;
    border-radius: 20px;
    background-color: black;
}

.hamburger::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 20px;
    border-radius: 20px;
    background-color: black;
}

.close_icon {
    transform: rotateZ(45deg);
    transition: all 0.4s ease-out;
}

.close_icon::after, .close_icon::before {
    transform: rotateZ(90deg);
    top: inherit;
}

a {
    text-decoration: none;
    color: deepskyblue;
}

nav ul {
    display: flex;
    position: absolute;
    left: 0;
    list-style: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-weight: 500;
    text-shadow: -1px 1px 1px gray;
    transform: translateX(-100%);
    height: 89vh;
    font-size: 1.4rem;
}

.open_burger {
    transform: translateX(0);
    transition: all 0.4s ease-out;
    top: 102px;
    background-image: linear-gradient(to top, rgba(100, 225, 241, 1.178), aliceblue);
    z-index: 1;
    justify-content: space-around;
    font-size: 2.5rem;
}

#header_generate {
    display: none;
}

main {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
    padding: 30px 0;
}

section {
    width: 50%;
}

.titulo {
    font-size: 4rem;
    font-weight: 900;
}

.subtitulo {
    color: gray;
}

#btn_comecar {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

aside {
    width: 50%;
    display: flex;
    justify-content: center;
}

#img {
    width: 400px;
    border-radius: 100%;
}

.content {
    position: relative;
    margin-top: 70px;
    background-color: rgba(207, 237, 238, 0.671);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#painel {
    position: absolute;
    top: -50px;
    border-radius: 10px;
    background-image: linear-gradient(to right, cyan , rgba(158, 160, 156, 0.788), rgba(190, 237, 238, 0.671));
    width: 90%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#painel:hover {
    box-shadow: -3px 3px gray;
    top: -51px;
}

input::placeholder {
    font-weight: bold;
}

input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
}

#btn_encurtar {
    margin-left: 25px;
    padding: 10px 20px;
}

#pergunta {
    position: absolute;
    top: 92px;
    font-size: 2.2rem;
    font-weight: 900;
}

#pergunta_desc {
    display: none;
}

#cards{
    background-color: rgba(207, 237, 238, 0.671);
    padding: 200px 0 20px 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: beige;
    width: 70%;
    height: 160px;
    padding: 36px 32px;
    position: relative;
}

.card:hover {
    box-shadow: -3px 3px 2px gray;
    top: -10px;
}

.icon {
    position: absolute;
    top: -28px;
    left: 30px;
    height: 56px;
}

.card p {
    padding: 12px;
}

#card_one, #linha1{
    margin-top: 0px;
}
#card_two, #linha2 {
    margin-top: 0px;
}
#card_three {
    margin-top: 0px;
}
.linhas {
    background-color: gray;
    width: 12px;
    height: 28px;
}
#footer_generate {
    background-image: linear-gradient(to right, cyan , rgba(200, 201, 174, 0.342), rgba(190, 237, 238, 0.671));
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 12px 0;
    border-radius: 12px;
}

footer {
    position: relative;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to right, aliceblue, rgba(190, 237, 238, 0.671), aliceblue);
}

#footer {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo_footer {
    position: absolute;
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: underline;
    top: 10px;
    left: 40px;
}

footer > p {
    height: 30%;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}

@media (min-width: 576px) {
    .container {
        padding: 0 60px;
    }
    #pergunta_desc {
        display: inherit;
        position: absolute;
        top: 136px;
        font-size: 1rem;
        font-weight: 700;
        color: gray;
    }
    #logo_footer {
        left: 60px;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 0 80px;
    }
    main {
        flex-direction: inherit;
    }

    header {
        height: 120px;
        display: block;
    }
    #logo_header, #logo_footer {
        font-size: 2.5rem;
    }
    #img {
        width: 450px;
    }
    nav {
        display: flex;
        position: relative;
    }
    #btn_comecar {
        margin-top: 50px;
        display: inherit;
    }
    nav ul {
        flex-direction: row;
        justify-content: space-around;
        font-weight: 500;
        display: inherit;
        height: inherit;
        transform: inherit
        
    }
    .open_burger {
        transform: inherit;
        transition: inherit;
        top: inherit;
        background-image: inherit;
        z-index: inherit;
        justify-content: inherit;
        font-size: inherit;
    }    
    .hamburger{
        display: none;
    }
    #card_two, #linha2 {
        margin-top: 80px;
    }
    #card_three {
        margin-top: 160px;
    }
    .linhas {
        width: 64px;
        height: 12px;
    }
    #cards{
        padding: 120px 0 80px 0;
        flex-direction: inherit;
    }
    .card {
        width: 240px;
        height: 272px;
    }
    #logo_footer {
        left: 80px;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0 100px;
    }
    #header_generate {
        position: absolute;
        right: 50px;
        width: 15%;
        display: flex;
        justify-content: flex-end;
    }
    nav ul {
        left: 10%;
        width: 70%;
    }
    .card {
        width: 240px;
        height: 192px;
    }
    #logo_footer {
        left: 100px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 0 120px;
    }
    #logo_footer {
        left: 120px;
    }
}

@media (min-width: 1400px) {
    .container {
        padding: 0 280px;
    }
    #logo_footer {
        left: 280px;
    }
}